<div class="form-contact">
  <h1>DEIXE SUA MENSAGEM</h1>

  <form [formGroup]="contactForm">
    <div class="first-row">
      <input type="text" id="name" [placeholder]="'NOME COMPLETO'" />
      <input type="text" id="phone" [placeholder]="'TELEFONE'" />
    </div>
    <input type="text" id="email" [placeholder]="'EMAIL'" />
    <input type="text" id="subject" [placeholder]="'ASSUNTO'" />
    <input type="text" id="message" [placeholder]="'MESSAGEM'" class="message"/>
  </form>
  <app-submit-btn
  text="ENVIAR"
  
  />
</div>
