<section class="contact-section">
  <div class="contact-now">

    <app-title
      title="ENTRE EM CONTATO"
      subTitle="ENTRE EM CONTATO"
      detach="AGORA"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"
    />

   <div class="btn">
    <app-contact-card
   
   />

   <app-contact-card
   
   />
   </div>

     <app-link
              path="/doc/meu_currículo.docx"
              icon="/icons/download.png"
              altText="download-cv"
              text="DOWNLOAD CV"
            />

  </div>

  <div class="form-contact"></div>
</section>
