.status-container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-container-color);
    border: var(--border);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120px;
}
@media (max-width:800px) {
    
}