.header-section{
     padding-top: 2.5vh;
}

.group-hi {
  display: flex;
  margin: 150px 40px;

}

.whoami {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

.skill-icon {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--background-icon);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  max-width: none;
}

.logo {
  ul {
    display: flex;
    list-style: none;
    padding: 0 150px;
    justify-content: space-between;
  }
}

.group-habilities {
  display: flex;
}

.best-skills{
  display: flex;
  flex-direction: row;
  
  align-items: start;
}

.habilities {
  font-size: 15px;
  padding: 8px 10px 0px 10px;
  writing-mode: sideways-rl;
  transform: rotate(180deg);
  color: white;
}

.hi-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 16vw;
  font-size: 36px;
}

.apresentation {
  font-size: 24px;
  font-family: "Roboto";
}

.my-name{
  font-size: 3rem;
  font-weight: 900;
  color: var(--secondary-color);
}

.about-apresentation {
  font-size: 18px;
  font-family: "Roboto";
}

.hobby {
  font-family: "Playfair Display";
  font-style: italic;
  justify-content: center;
  align-items: center;
}

.center-title {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 0px 30px;
  
}

.arrow-me{
  position: relative;
  width: 130px;
  height: 100px;
  left: 4vw;
  top: 10vh;
}

.me{
  position: relative;
  width: 58vw;
  height: 58vh;
  top: 15vh;
  right: 2vw;
}

.asterisk{
  position: absolute;
  top: 650px;
  right: -75px;
  width: 230px;
  height: 230px;
}