<section class="header-section">
  <div class="logo">
    <ul>
      <li>
        <img src="https://placehold.co/40x40" alt="" />
      </li>
      <li>
        <img src="https://placehold.co/40x40" alt="" />
      </li>
    </ul>
  </div>

  <div class="group-hi">
    <div class="whoami">
      <div class="group-habilities">
        <ul>
          <li>
            <img src="/icons/java.png" alt="" srcset="" />
          </li>
          <li>
            <img src="/icons/flutter.png" alt="" srcset="" />
          </li>
          <li>
            <img src="/icons/angular.png" alt="" srcset="" />
          </li>
          <li>
            <img src="/icons/linux.png" alt="" srcset="" />
          </li>
        </ul>

        <span class="habilities"> Principais Habilidades: </span>
        <div class="hi-section">
          <p class="apresentation">👋🏻 Olá, eu sou Yuri Matthewus!</p>
          <h1>
            Programadores e artistas são os únicos profissionais que têm <br />
        </h1>
        <div class="center-title">
            <span class="hobby"> como HOBBY a própria profissão.</span>
          <p class="about-me">
            Trabalho muito bem em equipe e consigo entender as necessidades dos
            clientes e transformar isso em código, sou bem maleável para
            aprender novas tecnologias se for preciso.
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
