<section class="header-section">
  <div class="logo">
    <ul>
      <li>
        <img src="https://placehold.co/40x40" alt="logo" />
      </li>
      <li>
        <img src="https://placehold.co/40x40" alt="menu" />
      </li>
    </ul>
  </div>

  <div class="group-hi">
    <div class="whoami">
      <div class="group-habilities">
        <ul>
          <li>
            <img src="/icons/java.png" alt="java" class="skill-icon"/>
          </li>
          <li>
            <img src="/icons/flutter.png" alt="flutter"  class="skill-icon" />
          </li>
          <li>
            <img src="/icons/angular.png" alt="angular"  class="skill-icon" />
          </li>
          <li>
            <img src="/icons/linux.png" alt="linux" class="skill-icon" />
          </li>
        </ul>

          <span class="habilities"> Principais Habilidades: </span>
        <div class="hi-section">
          <p class="apresentation">👋🏻 Olá, eu sou Yuri Matthewus!</p>
          <h1>
            Programadores e artistas são os únicos profissionais que têm <br />
          </h1>
          <div class="center-title">
            <span class="hobby"> como HOBBY a própria profissão.</span>
          <p class="about-me">
            Trabalho muito bem em equipe e consigo entender as necessidades dos
            clientes e transformar isso em código, sou bem maleável para
            aprender novas tecnologias se for preciso.
          </p>
          <a href="/doc/meu_currículo.docx">
             <img src="/icons/download.png" alt="download cv" class="download-cv"> DOWNLOAD CV
          </a>
          </div>

        </div>
        <img src="/icons/arrow-loop-left.png" alt="arrow" class="arrow-me">
        <img src="/icons/me1.png" alt="eu" class="me">

      </div>
    </div>
  </div>
</section>
