.group-hi{
  display: flex;
  margin: 100px 40px;
  .whoami {
    display: flex;
    flex-direction: column;
    ul{
      display: flex;
      flex-direction: column;
      list-style: none;
    }
    .skill-icon{
      width: 40px;
      height: 40px;
      background-color: var(--background-icon);
    }
  }
}

.logo {
  ul{ 
    display: flex;
    list-style: none;
    padding: 0 150px;
    justify-content: space-between;
  }

}

.group-habilities{
  display: flex;
  align-items: center;
}

.habilities{
  font-size: 15px;
  padding: 8px 10px  0px 10px;
  writing-mode: sideways-rl;
  transform: rotate(180deg);     
  color: white;
}


.hi-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 36vw;
  font-size: 36px;
  
}

.apresentation{
    font-size: 24px;
    font-family: 'Roboto';
  }

.about-me{
    font-size: 18px;
    font-family: 'Roboto';
}

.hobby{
  font-family: 'Playfair Display';
  font-style: italic;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.center-title{
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0px 30px;
  a{
     display: flex;
     align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-decoration: none;
    .download-cv{
      width: 40px;
      height: 40px;
    }
  }
}