.body-section {
  padding: 10vh 14vw 0px 14vw;
  display: flex;
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  align-self: start;
  gap: 8px;
}

.check {
  color: var(--secondary-color);
}

.grid-status {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 8vh;
}

.grid-status-one {
  display: flex;
  gap: 1.5vw;
  margin-bottom: 1.5vw;
}

.grid-status-two {
  display: flex;
  gap: 1.5vw;
}
