<section class="skills-section" id="skills">
  <img
    ngSrc="/assets/asterisk.png"
    alt="asterico"
    class="asterisk"
    width="230"
    height="230"
  />

  <section class="skills-card-section">
    <div class="card-row">
      @for (card of skills.slice(0, 2); track card) {
      <app-skill-card
        [title]="card.title"
        [projects]="card.projects"
        [cardWidth]="card.cardWidth"
        [topIconPath]="card.topIconPath"
      ></app-skill-card>
      }
    </div>

    <app-skill-card
      [title]="skills[2].title"
      [projects]="skills[2].projects"
      [cardWidth]="skills[2].cardWidth"
      [topIconPath]="skills[2].topIconPath"
    ></app-skill-card>

    <div class="card-row">
      @for (card of skills.slice(3, 5); track card) {
      <app-skill-card
        [title]="card.title"
        [projects]="card.projects"
        [cardWidth]="card.cardWidth"
        [topIconPath]="card.topIconPath"
      ></app-skill-card>
      }
    </div>
  </section>

  <section class="my-skills-text">
    <app-title
      subTitle="AS MINHAS MELHORES "
      detach="HABILIDADES E EXPERIENCIAS"
      title="MINHAS HABILIDADES"
      description="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged."
    >
    </app-title>

    <app-link
      path="https://www.linkedin.com/in/yurisousadev/"
      text="ENTRE EM CONTATO"
    >
    </app-link>
  </section>
</section>
