.asterisk {
  position: absolute;
  top: 2154px;
  left: -43.2px;
}

.skills-section {
  display: flex;
  gap: 72px;
  padding: var(--global-padding);
}

.skills-card-section {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card-row {
  display: flex;
  flex-direction: column;
  gap: 28.8px;
}

.my-skills-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.slide {
  text-align: center;
  width: 300px;
  background: var(--primary-container-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.arrow:hover {
  color: var(--secondary-color);
}


@media (max-width: 1080px) {
  .asterisk{
    display: none;
  }
  .skills-section{
    display: flex;
    flex-direction: column-reverse;
    padding: var(--global-padding);
  }
}