.asterisk {
  position: absolute;
  top: 2154px;
  left: -43.2px;
}

.skills-section {
  display: flex;
  gap: 72px;
  padding: var(--global-padding);
}

.skills-card-section {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card-row {
  display: flex;
  flex-direction: column;
  gap: 28.8px;
}

.my-skills-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media (max-width: 1080px) {
  .asterisk{
    display: none;
  }
  .skills-section{
    display: flex;
    flex-direction: column-reverse;
    padding: var(--global-padding);
  }
}