<section class="skills-section" id="skills">
  <img
    ngSrc="/assets/asterisk.png"
    alt="asterico"
    class="asterisk"
    width="230"
    height="230"
  />
  
  <section class="skills-card-section">
  <div class="carousel-container">
  <button class="arrow left" (click)="prevSlide()">←</button>

  <div class="slide">
    <img [src]="skills[currentIndex].topIconPath" [alt]="skills[currentIndex].title" width="100" />
    <h2>{{ skills[currentIndex].title }}</h2>
    <p>{{ skills[currentIndex].projects }}</p>
  </div>

  <button class="arrow right" (click)="nextSlide()">→</button>
</div>


  </section>

  <section class="my-skills-text">
    <app-title
      subTitle="AS MINHAS MELHORES "
      detach="HABILIDADES E EXPERIENCIAS"
      title="MINHAS HABILIDADES"
      description="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged."
    >
    </app-title>

    <app-link
      path="https://www.linkedin.com/in/yurisousadev/"
      text="ENTRE EM CONTATO"
    >
    </app-link>
  </section>
