# --- FRONT-END ---
/frontend/node_modules
/frontend/dist
/frontend/.angular/cache
/frontend/tmp
/frontend/out-tsc
/frontend/.env

# --- BACKEND ---
/backend/portfolio-backend/target
/backend/portfolio-backend/.mvn
/backend/portfolio-backend/.idea
/backend/portfolio-backend/*.iml
/backend/portfolio-backend/*.log

/backend/portfolio-backend/src/main/resources/application-test.yml

# --- SHARED ---

# Logs
npm-debug.log*
yarn-error.log
testem.log

# Coverage reports
/coverage

# Cache & temp
.sass-cache/
/.history/*

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Lock files
/connect.lock
/libpeerconnection.log
