<section class="work-section">
  <app-title
    title="O QUE EU OFEREÇO"
    subTitle="MEUS MELHORES SERVIÇOS"
    [alignCenter]="true"
  >
  </app-title>

  <div class="row-services">
    <app-best-services-card
      widthCard="30vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card>

    <app-best-services-card
      widthCard="40vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card>
  </div>

  <div class="row-services">
    <app-best-services-card
      widthCard="22.66vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card
    ><app-best-services-card
      widthCard="22.66vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card
    ><app-best-services-card
      widthCard="22.66vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card>
  </div>

   <div class="row-services">
    <app-best-services-card
      widthCard="35vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card
    ><app-best-services-card
      widthCard="35vw"
      title="Flutter"
      subTitle="Lorem Ipsum is simply dummy text of the printing  remaining essentially unchanged. "
      altText="flutter"
      imgPath="/icons/flutter.png"
    >
    </app-best-services-card
    >
  </div>
</section>
