section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--global-padding);

}

.contact {
  display: flex;
  
  gap: 50px;
}

.contact-now{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.btn{
  display: flex;
  gap: 15px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

