<section class="body-section">
  <div class="about">
    <p class="about-me">
      <img
        src="/assets/asterisc.png"
        alt="asterisc"
        class="asterisc-about"
      />SOBRE MIM
    </p>
    <h2>Melhor desenvolvedor <span class="stack">FullStack e mobile</span></h2>
    <p class="work-text">
      Fiz alguns projetos utilizando Java, Go e Flutter. Também já fiz projetos
      freelancer como Zoe express, DraftMaster e Agnus dei e agora estou em
      busca de uma oportunidade de emprego formal.
    </p>

    <ul class="skills">
      <li><span class="check">✔</span> FrontEnd</li>
      <li><span class="check">✔</span> Backend</li>
      <li><span class="check">✔</span> Mobile</li>
      <li><span class="check">✔</span> Sistemas Operacionais</li>
    </ul>

    <app-link
      altText="Fale comigo"
      path="https://www.linkedin.com/in/yurisousadev/"
      text="Entre em contato"
    >
    </app-link>
  </div>

  <div class="grid-status">
    <div class="grid-status-one">
      <app-status
        total="12K"
        result="All Project Completed"
        width="250px"
        height="120px"
      >
      </app-status>

      <app-status
        total="12K"
        result="All Project Completed"
        width="170px"
        height="120px"
      >
      </app-status>
    </div>

    <div class="grid-status-two">
      <app-status
        total="12K"
        result="All Project Completed"
        width="170px"
        height="120px"
      >
      </app-status>
      <app-status
        total="12K"
        result="All Project Completed"
        width="250px"
        height="120px"
      >
      </app-status>
    </div>
  </div>
</section>
