.asterisk {
  position: absolute;
  top: 4789.8px;
  right: -43.2px;
}

.my-projects-section {
  padding: 126px 201.6px 90px 201.6px;
}

header {
  display: flex;
  justify-content: center;
}

.show-cards {
  display: flex;
  justify-content: space-between;
}
