<section class="my-projects-section">
  <img
    ngSrc="/assets/asterisk.png"
    alt="asterisco"
    class="asterisk"
    width="230"
    height="230"
  />

  <header>
    <app-title
      title="MEUS PROJETOS"
      subTitle="PROJETOS QUE"
      detach="REALIZEI"
      [alignCenter]="true"
    />
  </header>

  <div class="show-cards">
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
  </div>

  <div class="show-cards">
    <app-live-demo-card
      cardWidth="34vw"
      cardHeight="40vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
    <app-live-demo-card
      cardWidth="34vw"
      cardHeight="40vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
  </div>

  <div class="view-more">
    <app-link
      text="VER MAIS PROJETOS"
      altText="ver mais projetos"
      path="https://github.com/iru-Y"
    />
  </div>
</section>
