<section class="my-projects-section">
  <header>
    <app-title
      title="MEUS PROJETOS"
      subTitle="PROJETOS QUE"
      detach="REALIZEI"
      [alignCenter]="true"
    />
  </header>

  <div class="show-cards">
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
    <app-live-demo-card
      cardWidth="20vw"
      cardHeight="30vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
  </div>

  <div class="show-cards"> 
   <app-live-demo-card
      cardWidth="30vw"
      cardHeight="40vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
     <app-live-demo-card
      cardWidth="30vw"
      cardHeight="40vh"
      imgPath="https://placehold.co/200x200/EEE/31343C"
    />
  </div>

</section>
