.body-section {
  padding: var(--global-padding);
  display: flex;
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  align-self: start;
  gap: 8px;
}

.skills span {
  color: var(--secondary-color);
}

.grid-status {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 72px;
}

.grid-status-one {
  display: flex;
  gap: 21.6px;
  margin-bottom: 21.6px;
}

.grid-status-two {
  display: flex;
  gap: 21.6px;
}

@media (max-width: 1080px) {
  .body-section {
    display: flex;
    flex-direction: column;
  }
  .grid-status {
    display: flex;
    align-items: center;
  }
}
