.asterisk{
  position: absolute;
  top: 332.2vh;
  left: -3vw;
  
}

.skills-section{
  display: flex;
  align-items: center;
  gap: 5vw;
  padding: 14vh 14vw 10vh 14vw;
}

.skills-card-section{
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.card-row{
  display: flex;
  gap: 2vw;
}

.my-skills-text{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}