.asterisk {
  position: absolute;
  top: 2989.8px;
  left: -43.2px;
}

.skills-section {
  display: flex;
  align-items: center;
  gap: 72px;
  padding: 126px 201.6px 90px 201.6px;
}

.skills-card-section {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card-row {
  display: flex;
  gap: 28.8px;
}

.my-skills-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
