<section class="skills-section" id="skills">
  <img
    ngSrc="/assets/asterisk.png"
    alt="asterico"
    class="asterisk"
    width="230"
    height="230"
  />

  <section class="skills-card-section">
    <div class="carousel-container">
      <div class="slide" [ngClass]="{ 'slide-hover': hoveringArrow }">
        <img
          class="card-top-icon"
          [src]="skills[currentIndex].topIconPath"
          width="100"
        />
        <p [ngClass]="{ 'text-hover': hoveringArrow }">
          {{ skills[currentIndex].projects }}
        </p>
      </div>
    </div>

    <div class="group-arrow">
      <button
        class="arrow left"
        (mouseenter)="onArrowHover(true)"
        (mouseleave)="onArrowHover(false)"
        (click)="prevSlide()"
      >
        ←
      </button>
      <button
        class="arrow right"
        (mouseenter)="onArrowHover(true)"
        (mouseleave)="onArrowHover(false)"
        (click)="nextSlide()"
      >
        →
      </button>
    </div>
  </section>

  <section class="my-skills-text">
    <app-title
      subTitle="AS MINHAS MELHORES "
      detach="HABILIDADES"
      title="MINHAS HABILIDADES"
      description="Ao longo da minha trajetória como desenvolvedor, tive a oportunidade de trabalhar com diferentes tecnologias e stacks que me proporcionaram uma visão completa do desenvolvimento de software — desde a construção de interfaces responsivas até a arquitetura de sistemas robustos no backend.
Sou movido por boas práticas, performance e escalabilidade, e ao lado destaco as ferramentas e linguagens com as quais tenho mais experiência e domínio."
    >
    </app-title>

    <app-link
      path="https://www.linkedin.com/in/yurisousadev/"
      text="ENTRE EM CONTATO"
    >
    </app-link>
  </section>
</section>
