<section class="my-projects-section" id="projects">
  <img
    ngSrc="/assets/asterisk.png"
    alt="asterisco"
    class="asterisk"
    width="230"
    height="230"
  />

  <header>
    <app-title
      title="MEUS PROJETOS"
      subTitle="PROJETOS QUE"
      detach="REALIZEI"
      [alignCenter]="true"
    />
  </header>

  @if (!isMobile) {

  <div class="show-cards">
    @for (card of cardsSectionOne; track card) {
    <app-live-demo-card [imgPath]="card.img" [isFirstCard]="true" />
    }
  </div>

  <div class="show-cards">
    @for (card of cardsSectionTwo; track card) {
    <app-live-demo-card [imgPath]="card.img" [isFirstCard]="false" />
    }
  </div>
  } @else {
  <div class="show-cards">
    @for (card of cardsSectionOne; track card) {
    <app-live-demo-card [imgPath]="card.img" [isFirstCard]="true" />
    }
  </div>
  }

  <div class="view-more">
    <app-link
      text="VER MAIS PROJETOS"
      altText="ver mais projetos"
      path="https://github.com/iru-Y"
    />
  </div>
</section>
