<div class="form-contact">
  <h1>DEIXE SUA MENSAGEM</h1>

  <form [formGroup]="contactForm" (ngSubmit)="sent()">
    <div class="first-row">
      <input
        type="text"
        id="name"
        formControlName="name"
        [placeholder]="'NOME COMPLETO'"
      />
      <input
        type="text"
        id="phone"
        formControlName="phone"
        [placeholder]="'TELEFONE'"
      />
    </div>
    <input
      type="text"
      id="email"
      formControlName="email"
      [placeholder]="'EMAIL'"
    />
    <input
      type="text"
      id="subject"
      formControlName="subject"
      [placeholder]="'ASSUNTO'"
    />
    <textarea
      id="message"
      formControlName="message"
      placeholder="MENSAGEM"
      class="message"
    ></textarea>
    <div class="btn">
      <button type="submit">
        @if (!isLoading){
        <span>ENVIAR</span>
        } @else {
       <span class="spinner"></span>
        }
      </button>
    </div>
  </form>
</div>
