header-section {
  padding-top: 22.5px;
}

.group-hi {
  display: flex;
  padding: var(--header-padding);
}

.whoami {
  display: flex;
  flex-direction: column;
}
.whoami ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.skill-icon {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--background-icon);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  max-width: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 150px;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 1000;
}

.logo p {
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.logo a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.logo a:hover {
  color: white;
}

.navbar {
  width: 50%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  list-style: none;
}
.navbar li:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.group-habilities {
  display: flex;
}

.best-skills {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.habilities {
  font-size: 15px;
  padding: 8px 10px 20px 10px;
  writing-mode: sideways-rl;
  transform: rotate(180deg);
  color: white;
}

.hi-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 230.4px;
  font-size: 36px;
}

.apresentation {
  font-size: 1.5rem;
  font-family: "Roboto";
}

.my-name {
  font-size: 3rem;
  font-weight: 900;
  color: var(--secondary-color);
}

.about-apresentation {
  font-size: 18px;
  font-family: "Roboto";
}

.hobby {
  font-family: "Playfair Display";
  font-style: italic;
  justify-content: center;
  align-items: center;
}

.center-title {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 0px 30px;
}

.arrow-me {
  position: relative;
  width: 130px;
  height: 100px;
  left: 57.6px;
  top: 20px;
}

.me {
  position: relative;
  width: 835px;
  height: 522px;
  top: 43px;
  right: 28.8px;
}

.asterisk {
  position: absolute;
  top: 650px;
  right: -75px;
  display: block;
}

@media (max-width: 800px) {
  .logo {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 20px;
    gap: 10px;
  }

  .logo p {
    font-size: 1.2rem;
  }

  .navbar {
    display: none;
  }

  .group-hi {
    flex-direction: column-reverse;
    padding: var(--header-padding);
  }

  .hi-section {
    margin-left: 0;
    font-size: 16px;
    padding: 20px 0px;
    margin-bottom: 50px;
    gap: 30px;
  }
  .hi-section h1 {
    font-size: 1rem;
  }
  .apresentation,
  .about-apresentation {
    font-size: 0.8rem;
  }

  .my-name {
    font-size: 1.5rem;
  }

  .me {
    left: -50px;
    height: 340px;
    top: 20px;
  }

  .arrow-me {
    width: 90px;
    height: 50px;
    left: 20px;
    top: 0;
  }

  .group-habilities {
    flex-direction: column-reverse;
  }

  .habilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .asterisk {
    display: none;
  }

  .center-title {
    display: flex;
    align-items: start;
    padding: 0 10px;
  }
}
