a {
  color: white;
  text-decoration: none;
}

div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 2px;
  width: 130px;
  height: 45px;
  border: var(--border);
  border-radius: 25px;
  background-color: #282828;
}

span {
  font-size: 0.7rem;
}

@media (max-width: 1080px) {
  div {
    width: 75px;
    height: 35px;
  
  }
  span {
  font-size: 0.35rem;
}
img{
  width: 10px;
  height: 10px;
}

}
