.asterisk {
  position: absolute;
  top: 2867px;
  right: -43.2px;
}

.my-projects-section {
  padding: var(--global-padding);
  background-color: var(--secondary-body-color);
}

header {
  display: flex;
  justify-content: center;
}

.show-cards {
  display: flex;
  justify-content: space-between;
}

.view-more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .asterisk {
    display: none;
    width: 20px;
    height: 20px;
  }
  .show-cards {
    height: 765px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .show-cards::-webkit-scrollbar {
    display: none;
  }
  app-live-demo-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}
