@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  background: var(--body-color);
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}

:root {
    --background-icon: #313131;
    --body-color: #161616;
    --secondary-body-color: #222222;
    --secondary-color: #adea2d;
    --border-color: #303030;
    --primary-container-color: #242424;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
