<section class="work-section">
  <app-title
    title="O QUE EU OFEREÇO"
    subTitle="MEUS MELHORES SERVIÇOS"
    [alignCenter]="true"
  >
  </app-title>

   @for (row of bestServices; track row) {
    <div class="row-services">
      @for (card of row; track card) {
        <app-best-services-card
          [widthCard]="card.widthCard"
          [title]="card.title"
          [subTitle]="card.subTitle"
          [altText]="card.altText"
          [imgPath]="card.imgPath"
        ></app-best-services-card>
      }
    </div>
  }
</section>
