.work-section {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    margin-top: 10vh;
    padding: 10vh 14vw 10vh 14vw;
    background-color: var(--secondary-body-color);

}

.ofer{
    display: flex;
    color: var(--secondary-color);
}


.title {
    display: flex;
    gap: 4vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-services{
    display: flex;
    gap: 2vw;
}
