.work-section {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-top: 90px;
  padding: 126px 201.6px 126px 201.6px;
  background-color: var(--secondary-body-color);
}

.ofer {
  display: flex;
  color: var(--secondary-color);
}

.title {
  display: flex;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-services {
  display: flex;
  gap: 28.8px;
}
